body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: white;
      
}

#topnav-left {
float: left; 
}

header {
  background-color: rgb(253, 199, 214);
  height:70px;
    }