body{
    font-family: 'BenchNine', sans-serif;
    font-size: x-large;
    background-color: white
    margin: 100px 100px 100px 100px;
}

p{color: orange}

hr {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: orange
}