body {
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    }

header {
background-color: rgb(253, 199, 214);
height:70px;
  }

.img {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 20px;
}

figure {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

img.scaled {
    width:200px;
    height:200px;
    margin: 20;
  }
  
#topnav-left {
float: left; 
}