body{
    font-family: 'BenchNine', sans-serif;
    font-size: x-large;
    background-color: white
    margin: 100px 100px 100px 100px;
 }
 
 hr {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: darkmagenta;
 }
